<kendo-dialog-titlebar>
  <div style="font-size: 18px; line-height: 1.3em;"><span class="k-icon k-i-form-element"></span> User Form</div>
</kendo-dialog-titlebar>
<div class="container">
  <form [formGroup]="formGroup">
      <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" [formControl]="formGroup.get('name')" required />
      </div>
      <div class="form-group">
          <label for="age">Age</label>
          <input type="number" class="form-control" id="age" [formControl]="formGroup.get('age')" />
      </div>

   
  </form>
</div>



<!--
<kendo-listbox [(ngModel)]="selectedValue" [data]="values" >
</kendo-listbox>
-->



<kendo-dialog-actions>
  <button kendoButton (click)="onCancelAction()">Cancel</button>
  <button kendoButton (click)="onConfirmAction()" themeColor="primary" [disabled]="!formGroup.valid">Submit</button>
</kendo-dialog-actions>